<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>CareAI Transparency</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}">

    <style>
        .side-nav {display: none;}
		.sansserif{font-family:Arial,Helvetica,sans-serif;}
    </style>

</head>

<body>

	<div class="container">
		<div id="header" class="site-header headroom">

            <div class="site-wrap">
           {% block jump %}
           <a href="https://www.nhs.uk">
             <img src="../static/nhs.png"height="30" width="70" class="nhs_logo" >
           </a>
		        <div class="site-logo">

                    <a href="/" class="logo">
                        {% if admin %}{{ admin.site_name }}
                        {% else %}CareAI Transparency{% endif %}
                    </a>
                    <span>{% if admin %}{{ admin.site_title }}{% else %}Team 11{% endif %}</span>
                </div>

                <div class="site-nav">
                    <ul id="menu" class="menu">

						<li class="menu-item"><a href="/login">Sign In</a></li>
						<li class="menu-item"><a href="/explain">What-If Counterfactual</a>
						<li class="menu-item"><a href = "/auditor"> Feature Importance</a>
                    </ul>
                    <div class="clear"></div>
                </div>
			{% endblock %}
		    </div>
		</div>

	<div class="site-wrap main-container">
		<div class="site-wrap main-container">
	        <div class="main">
                {% block content %}
                {% endblock %}
            </div>
		</div>
	</div>
</body>
</html>
